name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: make
      run: make
  norm:
      runs-on: ubuntu-latest
      name:  run norminette
      steps:
          - uses: actions/checkout@v4
          - name: install norminette
            run: python3 -m pip install -U norminette
          - name: run norminette
            run: norminette
  paco:
      runs-on: ubuntu-latest
      name: run tests
      steps:
          - uses: actions/checkout@v4
          - name: install libft tester
            run: git clone https://github.com/ki-ba/libft_tester.git libftTester
          - name: compile tester
            run : make -C libftTester LIBDIR=../ IGNORE_SIGNALS=1
          - name: run tester
            run: ./libftTester/run_tests
