name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
  norm:
      runs-on: ubuntu-latest
      name:  run norminette
      steps:
          - name: install norminette
            run: python3 -m pip install -U norminette
          - name: run norminette
            run: norminette
          
